@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  overflow-x: hidden;
}

  
  .slick-slider .slick-center img {
    transform: scale(1.5); /* Corrected scale value */
    transition: transform 0.3s ease-in-out;
  }
  
  .slick-slider .slick-slide img {
    transform: scale(0.8);
    transition: transform 0.3s ease-in-out;
  }
  

.gallery-item{
  padding: "2px";
  margin:"2px"
}



  
